html {
  --gutter: 2rem;
}

body > header {
  position: sticky;
  top: 0;

  margin-top: calc(3 * var(--gutter));

  background-color: var(--default-background-color);
  z-index: 1;
}

body > header > h1 {
  font-size: 3rem;
  letter-spacing: .05rem;
  font-weight: 800;

  padding: 2rem 0;
  padding-left: var(--gutter);

  width: 100%;
  overflow: hidden;
}

body > header > h1 > span.dropline,
body > header > h1 > a,
body > header > h1 > a:hover,
body > header > h1 > a:visited {
  text-decoration: underline;
  text-decoration-thickness: 0.5rem;
  text-underline-offset: 0.75rem;
  text-decoration-color: var(--default-highlight-color);
}
body > header > h1 > span.dropline:after,
body > header > h1 > a:after {
  /* \00a0 == &nbsp; */
  content: "\00a0\00a0";
}

.banner {
  width: 100%;
  padding: 2rem 4rem;
  margin-bottom: 1rem;

  background-color: var(--default-highlight-color);

  font-weight: 700;
}
.banner > p {
  text-align: center;
}
.banner > p + p {
  margin-top: 0.4rem;
}
@media (min-width: 666px) {
  .banner {
    padding: 2rem 0;
  }
  .banner > p {
    padding-left: calc(33% / 3);
    width: 66%;
    text-align: left;
  }
}

main {
  width: 100%;
  padding: var(--gutter);
  margin-bottom: 4rem;
}
@media (min-width: 666px) {
  main {
    padding: 0;
    padding-left: calc(33% / 3);
  }
}

article {
  width: 100%;
}
article > img {
  width: 100%;
}
article.post-inline + article.post-inline {
  margin-top: 4rem;
}
@media (min-width: 666px) {
  article {
    width: 66%;
  }
}

/* post header */
article > header {
  margin-bottom: 1rem;
}
article > header > h1 {
  font-size: 1.6rem;
  font-weight: 600;
}
article > header > h1 > a {
  text-decoration: none;
}
article > header > p { /* date */
  font-size: 0.8rem;
  font-weight: 400;
}

/* post images */
article > a.image-link {
  display: block;
}
article > a.image-link, article > .yt-container {
  margin-bottom: var(--standard-spacing);
}
article > p.caption {
  position: relative;
  --shift: calc(-1 * (var(--standard-spacing) + 1.5rem));
  top: var(--shift);
  margin-bottom: var(--shift);

  font-size: 0.8rem;

  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding: 0.6rem;

  background-color: var(--default-highlight-color);
}
@media (min-width: 666px) {
  article > p.caption {
    width: 70%;
    margin-left: 10%;
  }
}

/* post text */
article > p,
article > ul > li,
article > ol > li {
  line-height: 1.4rem;
}
article > p:not(first-child),
article > ul:not(first-child),
article > a.image-link:not(first-child),
article > .yt-container:not(first-child) {
  margin-top: var(--standard-spacing);
}

/* post footer */
article > footer {
  margin-top: 1.6rem;
}
article.post-alone > footer {
  font-size: 0.8rem;
}
article.post-alone > footer > nav {
  display: flex;
  flex-flow: row nowrap;

  justify-content: space-between;
  gap: 0.6rem;
  margin-top: 0.6rem;
}
article.post-alone > footer a {
  display: flex;
  flex-flow: row nowrap;
  align-items: baseline;
  gap: 0.2rem;

  padding: 0.4rem;

  background-color: var(--code-bg);

  text-decoration: none;
}
article.post-alone > footer a:hover {
  text-decoration: none;
  background-color: var(--default-highlight-color);
}
article.post-alone > footer > nav > a.nav-item {
  white-space: nowrap;
  overflow: hidden;
}

.post-alone footer a:before,
.post-alone footer a:after {
  font-size: 0.6rem;
  display: inline-block;
  text-decoration: none;
}
.post-alone footer a.back:before {
  content: "▲";
}
.post-alone footer a.nav-item.previous-post:before {
  content: "◀";
}
.post-alone footer a.nav-item.next-post:after {
  content: "▶";
}
.post-alone footer a.nav-item > .clipper {
  min-width: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.post-inline footer a.view-post:after {
  content: "▶";
  font-size: 0.8rem;
  display: inline-block;
  margin-left: 0.4rem;
  text-decoration: none;

  position: relative;
  top: 0.05rem;
}

article > .yt-container,
article > a.image-link {
  width: 90%;
  margin: 0 auto;
}
.yt-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* fix for anchor#links disappearing under sticky header */
/* thanks, https://markus.oberlehner.net/blog/simple-solution-for-anchor-links-behind-sticky-headers/ */
[id] {
  /* header 3rem font-size + 2rem padding-top/bottom + 1rem for idfk */
  scroll-margin-top: 8rem;
}
