html {
  --latte: #FFF8E5;
  --root: #27080A;

  --default-text-color: var(--root);
  --default-background-color: var(--latte);
}

@media (prefers-color-scheme: dark) {
  html {
    --default-text-color: var(--latte);
    --default-background-color: var(--root);
  }
}

body {
  font-family: "Open Sans", sans-serif;
  width: 100%;

  background-color: var(--default-background-color);
  color: var(--default-text-color);
}

a, a:hover {
  color: var(--default-text-color);
  text-decoration: underline;
  text-underline-offset: 0.2rem;
}

a.back:before {
  content: "◀";
  font-size: 0.8rem;
  display: inline-block;
  margin-right: 0.4rem;
  text-decoration: none;
}

a.view-post:after {
  content: "▶";
  font-size: 0.8rem;
  display: inline-block;
  margin-left: 0.4rem;
  text-decoration: none;
}

ul {
  padding-left: 1rem;
}
ul > li {
  list-style-position: inside;
  list-style-type: disc;
}
