---
layout: layout.liquid
---
<article class="post-alone">
  <header>
    <p>{{ dateString }}</p>
    <h1>{{ title }}</h1>
  </header>
  {{ content }}

  <footer>
    <a class="back" href="/vcvrvr">back</a>
  </footer>
</article>
