<article class="post-inline">
  <header>
    <h1>{{ title }}</h1>
    <p>{{ date }}</p>
  </header>
  {{ content | truncatewords: 128 }}
  <footer>
    <a class="view-post" href="{{url}}">view post</a>
  </footer>
</article>
