---
title: no idea 
date: 2023-03-01
---
{% image "src/img/vcvrvr/PXL_20230302_170543700.jpg", "" %}
<p>
  after a month or so of reading through rack's source and poking at things to see what came out, i felt about the way heimdall looks here. big <em>no idea dog</em> energy.
</p>
