---
title: OSC -> Unreal
date: 2023-04-18
---
{% image "src/img/vcvrvr/VCVRVR.png", "" %}
<p>
  the first real demonstration of communication between rack and unreal that wasn't just debug statements in the console: data necessary to reproduce modules + cabling being sent over to Unreal, and drawn in the engine with debug lines.
</p>
