---
title: blinkin
date: 2023-04-28
---
<div class="aspect-box sixteen-to-nine yt-container">
  <iframe width="200" height="112" src="https://www.youtube.com/embed/GLOPNv3pmpA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
</div>
<p>
  the lights, they are a-blinkin'
</p>
