---
title: sketches
date: 2023-06-24
---
{% image "src/img/vcvrvr/VCVRVRScreenshot-2023-06-07-090029.png", "" %}
{% image "src/img/vcvrvr/VCVRVRScreenshot-2023-06-07-132212.png", "" %}
{% image "src/img/vcvrvr/VCVRVRScreenshot-2023-06-24-220549.png", "" %}
<p>
  adding some simple geometry sketches for the params and ports so i can work on actually interacting with them. these will soon be replaced with simpler models i can paint the svg graphics on.
</p>
