---
title: WORNG
date: 2023-06-29
---
{% image "src/img/vcvrvr/VCVRVRScreenshot-2023-06-27-193430.png", "" %}
{% image "src/img/vcvrvr/VCVRVRScreenshot-2023-06-27-193458.png", "" %}
{% image "src/img/vcvrvr/VCVRVRScreenshot-2023-06-28-140701.png", "" %}
{% image "src/img/vcvrvr/VCVRVRScreenshot-2023-06-28-183135.png", "" %}
{% image "src/img/vcvrvr/VCVRVRScreenshot-2023-06-29-215450.png", "" %}
<p>
  things go amusingly wrong as i figure out how to attach <em>things</em> to <em>other things</em> in unreal.
</p>
