---
title: position
date: 2023-07-07
---
{% image "src/img/vcvrvr/VCVRVRScreenshot-2023-07-07-112818.png", "" %}
<p>
  an attempt was made, and then promptly shelved, to position the modules the same as they're positioned in rack. avoiding the body horror for now, i decide to come back to this later.
</p>
