---
title: interaction, babyyy
date: 2023-07-12
---
{% yt "https://www.youtube.com/embed/M0O0C6xliiI" %}
<p>
  another month of work, and you can actually interact with the things! this is the first point where it starts to feel like i might actually be able to make this work, for some value of work.
</p>
