---
title: interaction, babyyy
date: 2023-07-12
---
<div class="aspect-box sixteen-to-nine yt-container">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/M0O0C6xliiI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
</div>
<p>
  another month of work, and you can actually interact with the things! this is the first point where it starts to feel like i might actually be able to make this work, for some value of work.
</p>
