---
title: svgs in unreal
date: 2023-07-12
---
{% image "src/img/vcvrvr/VCVRVRScreenshot-2023-07-12-102511.png", "" %}
{% image "src/img/vcvrvr/VCVRVRScreenshot-2023-07-12-121338.png", "" %}
<p>
  first demonstration that it is, in fact, possible to get unreal to render svg graphics (using <a href="https://www.unrealengine.com/marketplace/en-US/product/definitive-painter" target="_blank">this lovely plugin</a>).
</p>
