---
title: painting svgs
date: 2023-07-13
---
{% image "src/img/vcvrvr/VCVRVRScreenshot-2023-07-13-115645.png", "" %}
{% image "src/img/vcvrvr/VCVRVRScreenshot-2023-07-13-121126.png", "" %}
{% image "src/img/vcvrvr/VCVRVRScreenshot-2023-07-13-224245.png", "" %}
<p>
  starting to paint those svgs on the modules.
</p>
