---
title: svgs everywhere
date: 2023-07-28
---
{% image "src/img/vcvrvr/VCVRVRScreenshot-2023-07-28-085328.png", "" %}
<p>
  getting svgs painted on all the knobs and other params and ports. it was at this point that i began to realize that the plugin i'm using is designed to create UI widgets, and having a separate UI widget for every single thing is very very bad for performance.
</p>
