---
title: VR! (vrvrvrvrvrvrvrvr) 
date: 2023-10-19
---
<div class="aspect-box sixteen-to-nine yt-container">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/MNJEQwm5kCo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
</div>
<p>
  finally, the time comes to actually get this thing running in VR. it took me almost exactly 1 month to change all the appropriate settings to get it running well and proper in VR, add movement controls, and port over and basically fully rewrite all the interaction code. as a bonus i decided to "throw in" (spend an extra week working on) tooltips to match and improve upon the ones in vcv rack proper. there is still a lot of tweaking to do to make the controls feel right, and tons of functionality yet to come. one day i'll have real cables instead of these debug lines.
</p>
