---
title: all worng
date: 2023-07-07

truncate: true
preview_text: As I begin working on user interaction I quickly find that I have merely arranged the component parts in space, and nothing is actually <em>attached</em> to anything else&hellip;
preview_img_src: src/img/vcvrvr/VCVRVRScreenshot-2023-06-28-140701.png
preview_img_alt: ""
---
<p>As I begin working on user interaction I quickly find that I have merely arranged the component parts in space, and nothing is actually <em>attached</em> to anything else. Initial attempts to rectify this situation lead to some amusing outtakes.</p>
{% image "src/img/vcvrvr/VCVRVRScreenshot-2023-06-27-193430.png", "" %}
{% image "src/img/vcvrvr/VCVRVRScreenshot-2023-06-27-193458.png", "" %}
{% image "src/img/vcvrvr/VCVRVRScreenshot-2023-06-28-140701.png", "" %}
{% image "src/img/vcvrvr/VCVRVRScreenshot-2023-06-28-183135.png", "" %}
{% image "src/img/vcvrvr/VCVRVRScreenshot-2023-06-29-215450.png", "" %}
{% image "src/img/vcvrvr/VCVRVRScreenshot-2023-07-07-112818.png", "" %}
<p class="caption">A failed attempt at positioning the modules relative to one another the same as they are on the Rack side leads to a modular Cronenbergian monstrocity.</p>
