---
title: let's fn go
date: 2023-01-01

truncate: true
preview_text: "i’ve been interested in modular synthesis for a long time and recently came dangerously close to dropping a bunch of money on hardware, but i had no experience and didn’t really know what i wanted, other than knobs to twist and cables to socket in&hellip;"
preview_img_src: "src/img/vcvrvr/PXL_20230302_170543700.jpg"
preview_img_alt: "a grey and white cat sits on a wooden wrist rest on a desk in front of a computer keyboard and monitor. the monitor displays several text editor windows showing source code. the cat is staring past the camera into the distance as if to say, 'i have no idea what i am doing.'"
---
<p>i’ve been interested in modular synthesis for a long time and recently came dangerously close to dropping a bunch of money on hardware, but i had no experience and didn’t really know what i wanted, other than knobs to twist and cables to socket in. so i found SynthVR, and a little while later, Synthspace, which are both VR-based modular synth simulators. i used them to learn the basics and had a lot of fun, but eventually ran up against frustration at the limited palette of available modules and the fact that, while they both had plans to allow custom, user-created modules, neither has been updated in over two years. the developers are still kicking around on the associated discords, but the programs seem to be effectively abandonware.</p>
<p>why not just use VCVRack as-is? a huge part of the appeal of modular synths to me is their physicality. and outside of spending thousands of dollars on hardware, VR is the best way to get that. when i put on my headset, i’m instantly isolated in a private studio with no distractions, and i can twiddle knobs and push buttons and swap cables to my heart’s content. i don’t need another reason to sit in front of a computer poking at things with a mouse.</p>
<p>i’m a web developer, professionally, with a lot of experience in Ruby and Javascript. i spent a couple months learning the basics of C++ dev in Unreal Engine, but that is very much an Epic-flavored version of C++, so i spent another month poking around the VCVRack code and learning the C++ standard library. i don’t have a ton of time for this stuff, maybe 30-60 minutes daily, a few hours on the weekend, so the pace here is very plodding.</p>

{% image "src/img/vcvrvr/PXL_20230302_170543700.jpg", "a grey and white cat sits on a wooden wrist rest on a desk in front of a computer keyboard and monitor. the monitor displays several text editor windows showing source code. the cat staring past the camera into the distance as if to say, 'i have no idea what i am doing.'" %}
<p class="caption">
  after a month or so of reading through rack's source and poking at things to see what came out, i felt about the way heimdall looks here. big <em>no idea dog</em> energy.
</p>

<p>i have a long list of open questions, a lot of ideas for how to handle different things, and no clear picture as to how feasible any of this is going to end up being. but i’m taking it a piece at a time, just enjoying the journey and the learning experience.</p>
<p>the way i see it there are only three things stopping me:</p>
<ul>
  <li>i don’t know c++</li>
  <li>i don’t know anything about game development or Unreal Engine</li>
  <li>i’ve never really used VCV Rack</li>
</ul>
<p>so, no problem. let's fuckin go.</p>
