---
title: all worng
date: 2023-07-07

truncate: true
preview_text: As I begin working on user interaction I quickly find that I have merely arranged the component parts in space, and nothing is actually <em>attached</em> to anything else. Initial attempts to rectify this situation lead to some amusing outtakes&hellip;
preview_img_src: src/img/vcvrvr/VCVRVRScreenshot-2023-06-28-140701.png
preview_img_alt: ""
---
<p>As I begin working on user interaction I quickly find that I have merely arranged the component parts in space, and nothing is actually <em>attached</em> to anything else. Initial attempts to rectify this situation lead to some amusing outtakes.</p>
<p>This is also where I learn to stop thinking about movement in absolute X, Y, and Z world axis terms, and start thinking about it relative to a given mesh's top, right, or forward vectors. This shift in perspective makes thinking about where things are and how they move much more intuitive.</p>
{% image "src/img/vcvrvr/VCVRVRScreenshot-2023-06-27-193430.png", "" %}
{% image preview_img_src, preview_img_alt %}
{% image "src/img/vcvrvr/VCVRVRScreenshot-2023-07-07-112818.png", "" %}
<p class="caption">A failed attempt at positioning the modules relative to one another the same as they are on the Rack side leads to a modular Cronenbergian monstrocity.</p>
{% image "src/img/vcvrvr/VCVRVRScreenshot-2023-06-29-215450.png", "" %}
<p class="caption">Mag-lev slider handles!</p>
