---
title: let's fn go (why am i doing this)
page_title: "let's fn go (why am i doing this) [gtnoblg/vcvrvr]"
date: 2023-03-01

truncate: true
preview_text: For as long as I can remember I have been fascinated by synthesizers and electronic music. I had seen modular synthesizers, and I must have intuited that their purpose was to give an artist lower-level control over the sounds they were making, but they mostly remained a mystery to me. Recently, at the yearly Bandcamp employees offsite, one of the special guests they flew out to talk with us was Suzanne Ciani&hellip;
preview_img_src: src/img/vcvrvr/PXL_20230302_170543700.jpg
preview_img_alt: A grey and white cat sits on a wooden wristrest on a desk in front of a computer keyboard and monitor. the monitor displays several text editor windows showing source code. the cat is staring past the camera into the distance as if to say, 'I have no idea what I am doing.'
---
<p>For as long as I can remember I have been fascinated by synthesizers and electronic music. I was aware of modular synthesizers, and I must have intuited that their purpose was to give an artist lower-level control over the sounds they were making, but they mostly remained a mystery to me. Recently, at the yearly Bandcamp employees offsite, one of the special guests they flew out to talk with us was Suzanne Ciani. Ciani was somehow not on my radar, even though she was one of the earlier pioneers of electronic music and had collaborated with other artists I love. Seeing her speak rekindled my curiosity about modular synths. Here she is talking about her Buchla (somewhere else):</p>
{% yt "https://www.youtube.com/embed/QRx-YdqHLus?si=4tjfYC3xP71UN7Xh" %}
<p>And just for fun, here&rsquo;s another early pioneer, Wendy Carlos Williams, demonstrating how to make sounds with her Moog:</p>
{% yt "https://www.youtube.com/embed/GUDa603qTT0?si=e_in0mKUiiGCMWne" %}
<p>The problem with modular synths is that they are <em>expensive</em>, and after seeing Ciani speak I came dangerously close to spending real money on a setup. The problem with <em>me</em> is that I am not a musician, not really. I recognize that, and I recognize that even if I did buy something I wouldn&rsquo;t necessarily even know what I wanted and I&rsquo;d probably buy the wrong things entirely and have <em>regrets</em>.</p>
<p>And so I went looking for alternatives. I found <a href="https://store.steampowered.com/app/1517890/SynthVR/" target="_blank">SynthVR</a>. I decided I&rsquo;d use it to learn and if I was still interested I&rsquo;d consider buying hardware. I bought a copy of <a href="https://bjooks.com/products/patch-tweak-exploring-modular-synthesis" target="_blank">PATCH &amp; TWEAK</a> and read through it while I played with the ideas in VR. I loved every second of it! I learned a ton! But eventually, I grew frustrated with SynthVR&rsquo;s limited selection of modules to play with. I found and tried out <a href="https://store.steampowered.com/app/1355640/SYNTHSPACE/" target="_blank">SYNTHSPACE</a> as well, but it was the same: fun to use, but very toylike and limited. I learned that they <a href="https://github.com/42tones/SynthVR-Modules?tab=readme-ov-file#to-do" target="_blank">both</a> <a href="https://github.com/brightlightrx/synthspace-audio-layer" target="_blank">had plans</a> to allow custom, user-created modules, but neither app had been updated in years.</p>
<p>I was chatting with a musician friend about all of this and they pointed me toward <a href="https://vcvrack.com/" target="_blank">VCV Rack</a>, which is a free and open-source software modular synthesizer. Importantly, it is used by actual musicians to make actual music. It has an extensive library of modules: official modules, user-created modules, and even several hardware manufacturers creating software replicas of their modules. But I don&rsquo;t need another reason to sit in front of a computer and poke at things with a mouse. A huge part of the appeal of modular synths for me is their physicality, and outside of spending thousands of dollars on hardware, VR is the best way to get that. When I put on my headset, I&rsquo;m instantly isolated in a private studio with no distractions, and I can twiddle knobs and push buttons, and swap cables to my heart&rsquo;s content.</p>
<p>At this point I decided to do what any rational person in my situation would do: I would create my own VR thing, and somehow make it use VCV Rack. After all, I&rsquo;m a professional web developer with a lot of experience in Ruby and Javascript so how hard could it be. I spent a couple of months learning the basics of C++ dev in Unreal Engine, which is very much an Epic-flavored version of C++. I spent another month poking around VCV Rack&rsquo;s codebase and learning the C++ standard library. I don&rsquo;t have a ton of time for this stuff, maybe 30-60 minutes daily, a few hours on the weekend, so the pace here is very plodding, but it would appear as though I might be able to make something work. I can at least give it a shot. If I fail, I&rsquo;ll have learned a lot. If I succeed, maybe someone else will want to use it too.</p>

{% image preview_img_src, preview_img_alt %}
<p class="caption">
  After a month or so of reading through Rack's source and poking at things to see what came out, I felt about the way Heimdall looks here. Big <em>no idea dog</em> energy.
</p>

<p>I have a long list of open questions, a lot of ideas for how to handle different things, and no clear picture as to how feasible any of this is going to end up being. But I&rsquo;m taking it a piece at a time, just enjoying the journey and the learning experience.</p>
<p>The way I see it there are only three things stopping me:</p>
<ul>
  <li>I don&rsquo;t know C++</li>
  <li>I don&rsquo;t know anything about game development or Unreal Engine</li>
  <li>I&rsquo;ve never really used VCV Rack</li>
</ul>
<p>So, no problem. Let&rsquo;s fuckin go.</p>
