---
title: Rack -> Unreal
date: 2023-04-18

truncate: true
preview_text: My custom module is now sitting in the virtual rack with the other modules, and&mdash;after a thousand debug statements and recompiles to figure out how and where to find the data&mdash;it is introspecting the state of the running Rack instance. It is gathering data about the other modules&hellip;
preview_img_src: src/img/vcvrvr/VCVRVR.png
preview_img_alt: a screenshot of a computer screen showing a software modular synthesizer app on one side, and a crude recreation of that interface in a game engine on the other side.
---
<p>My custom module is now sitting in the virtual rack with the other modules, and&mdash;after a thousand debug statements and recompiles to figure out how and where to find the data&mdash;it is introspecting the state of the running Rack instance. It is gathering data about the other <strong>modules</strong>&ndash; their size and location, and the location and size of each of their params, ports, and LCD displays, and gathering data for the <strong>cables</strong>, which is simply their origin and destination ports.</p>
<p>I have decided, initially at least, to use <a href="https://opensoundcontrol.stanford.edu/index.html" target="_blank">Open Sound Control (OSC)</a> for communication between Rack and Unreal. OSC is a &ldquo;data transport specification&hellip;for realtime message communication among applications and hardware.&rdquo; There are a few reasons for this choice: OSC was designed for realtime communication and is very flexible with regard to how messages are structured. Unreal has a built in library for handline OSC communication and there is a straightforward library for c++ too. And lastly, I have seen other VCV Rack modules using it so I know it's feasible to work it into the system.</p>
<p>One other fun thing about OSC is that it uses UDP and not TCP like I'm familiar with from my web work. That means it is &ldquo;fire-and-forget&rdquo; and doesn't use handshakes or responses to ensure data was properly transmitted. Which means I get to learn how to work with those limitations. I'm always up for a new challenge.</p>

{% image preview_img_src, preview_img_alt %}
<p class="caption">One should always take the opportunity to find a nice color scheme.</p>

<p>And so, I finally have something up on the screen besides debug messages in the logs. I'm taking the data transmitted from Rack and drawing representations of each of the modules and cables in Unreal with debug <em>lines</em> instead.</p>
<p>Friends, we have computer graphics.</p>
