---
title: status report
page_title: "status report [gtnoblg/vcvrvr]"
date: 2024-01-09

truncate: true
preview_text: Let&rsquo;s have a proper demo of the state of VCVRVR. We have a library, context menus, proper cables, and everything else. Here it is, all coming together. I still can&rsquo;t believe this is all <em>my</em> work. I am beside myself.
preview_youtube_embed: https://www.youtube.com/embed/m9aZUO9ZBDA?si=5IWq1V2pA_z1i7WT
---
<p>Let&rsquo;s have a proper demo of the state of VCVRVR. We have a library, context menus, proper cables, and everything else. Here it is, all coming together. I still can&rsquo;t believe this is all <em>my</em> work. I am beside myself.</p>
{% yt preview_youtube_embed %}
<p>So then, what&rsquo;s left? A lot! But here&rsquo;s a short list off the top of my head:</p>
<ul>
  <li>User preferences.</li>
  <li>Keeping track of the position of modules between runs.</li>
  <li>Spawning modules in a consistent location (ie, next to the library actor when spawned from the library).
  <li>Launching my build of Rack along with the Unreal app.</li>
  <li>File opening, saving.</li>
  <li>Injecting my module into any opened files, then removing it before I save and close them.</li>
  <li>Packaging all of this up into some kind of distributable.</li>
  <li>And on and on&hellip; a thousand tiny and not-so-tiny things to take care of.</li>
</ul>
<p>I have to start focusing on finding a new job, so development here is going to slow down considerably, but I&rsquo;m excited to get this to a place where I can get it into other people&rsquo;s hands.</p>
