---
header_class: "vcvrvr"
header_markup: <span class="dropline">vcvrvr</span>(vrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvr)
layout: layout.liquid
page_title: vcvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvr
banner_markup: "This is the record of an ongoing attempt to build a bridge between VCV Rack and Unreal Engine, with the ultimate goal of supporting enough of VCV Rack's functionality to provide a meaningful experience via a VR interface. For more details on the genesis of this project, <a href=\"/vcvrvr/2023-01-01\">see the inagural post</a>."
---
{% for post in collections.vcvrvr_post reversed %}
  {%
    render 'templates/_post_inline.liquid',
    content: post.content,
    url: post.url,
    data: post.data
  %}
{% endfor %}
