---
header_class: "vcvrvr"
header_markup: <span class="dropline">vcvrvr</span>(vrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvr)
layout: layout.liquid
page_title: vcvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvr
---
{% for post in collections.vcvrvr_post reversed %}
  {%
    render 'templates/_post_inline.liquid',
    title: post.data.title,
    date: post.data.dateString,
    content: post.content,
    url: post.url
  %}
{% endfor %}
