---
header_class: "vcvrvr"
header_markup: <span class="dropline">vcvrvr</span>(vrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvr)
layout: layout.liquid
page_title: vcvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvr
banner_markup: "<p>This is the record of an ongoing attempt to build a kind of virtual reality remote control for <a href=\"https://vcvrack.com/\" target=\"_blank\">VCV Rack</a>, a free and open-source software modular synthesizer.</p><p>It involves recreating much of the VCV Rack user experience in 3d in Unreal Engine, and building a dedicated Rack module to handle introspection on the Rack side and facilitate communication for syncing state between Rack and Unreal.</p><p>For more details on the genesis of the project, <a href=\"/vcvrvr/2023-01-01\">see the inagural post</a>.</p>"
---
{% for post in collections.vcvrvr_post reversed %}
  {%
    render 'templates/_post_inline.liquid',
    content: post.content,
    url: post.url,
    data: post.data
  %}
{% endfor %}
