---
header_class: "vcvrvr"
header_markup: <a href="/vcvrvr">vcvrvr</a><span aria-hidden="true">(vrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvr)</span>
layout: layout.liquid
page_title: vcvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvrvr
banner_markup: "<p>This is the record of an ongoing attempt to build a virtual reality front end for <a href=\"https://vcvrack.com/\" target=\"_blank\">VCV Rack</a>, a free and open-source software modular synthesizer.</p><p>There are two components: a virtual reality application that reinterprets the VCV Rack user experience in 3d, built with Unreal Engine, and a dedicated module for VCV Rack that handles introspection of the running rack state and communication with the Unreal application.</p><p>For more details on the genesis of the project, <a href=\"/vcvrvr/2024-03-01\">see the inaugural post</a>.</p>"
---
{% for post in collections.vcvrvr_post reversed %}
  {% assign itemIndex = collections.vcvrvr_post | getCollectionItemIndex: post.page %}
  {%
    render 'templates/_post_inline.liquid',
    content: post.content,
    url: post.url,
    data: post.data,
    index: itemIndex
  %}
{% endfor %}
